<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body class="">
    <a class="ds-c-skip-nav" href="#main">Skip to main content</a>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}



    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <script>
      feather.replace()
    </script>

    <!-- Custom JavaScript -->
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

  </body>

</html>
