---
layout: new
---

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-subpage" id="mainNav">
    {% include nav.html %}
</nav>

<!-- Header -->
<header class="masthead subpage">
    <section class="jarallax" data-jarallax data-speed="0.4" data-jarallax-element="250 -100">
        <img src="assets/img/subpage-header.svg" alt="Image" class="jarallax-img"/>
    </section>
    <div class="container">
        <div class="intro-text">
            <h1 class="intro-heading">{{ page.description | escape }}</h1>
        </div>
    </div>
</header>

{{ content }}