version: '3'

services:
  db:
    image: postgres:11
    environment:
      - POSTGRES_DB=ab2d
      - POSTGRES_USER=ab2d
      - POSTGRES_PASSWORD=ab2d
    ports:
      - "5432:5432"
  build:
    image: maven:3-jdk-13
    working_dir: /usr/src/mymaven
    command: mvn clean package
    volumes:
      - .:/usr/src/mymaven
      - ${HOME}/.m2:/root/.m2
  api:
    build:
      context: ./api
    environment:
      - AB2D_DB_HOST=db
      - AB2D_DB_PORT=5432
      - AB2D_DB_DATABASE=ab2d
      - AB2D_DB_USER=ab2d
      - AB2D_DB_PASSWORD=ab2d
      - AB2D_EFS_MOUNT=/tmp/ab2d_efs_mount
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - tmp-volume:/tmp/ab2d_efs_mount
  worker:
    build:
      context: ./worker
    environment:
      - AB2D_DB_HOST=db
      - AB2D_DB_PORT=5432
      - AB2D_DB_DATABASE=ab2d
      - AB2D_DB_USER=ab2d
      - AB2D_DB_PASSWORD=ab2d
      - AB2D_EFS_MOUNT=/tmp/ab2d_efs_mount
    depends_on:
      - db
    volumes:
      - tmp-volume:/tmp/ab2d_efs_mount

# This needs a shared volume so that both the API and worker module can access the ndjson files being generated
volumes:
  tmp-volume: