<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>${artifactory.username}</username>
            <password>${artifactory.password}</password>
            <id>central</id>
        </server>
        <server>
            <username>${artifactory.username}</username>
            <password>${artifactory.password}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>ab2d-maven-cache</name>
                    <url>${env.ARTIFACTORY_URL}/ab2d-maven-repo/</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>ab2d-maven</name>
                    <url>${env.ARTIFACTORY_URL}/ab2d-main/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>ab2d-maven-cache</name>
                    <url>${env.ARTIFACTORY_URL}/ab2d-maven-repo</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>ab2d-maven</name>
                    <url>${env.ARTIFACTORY_URL}/ab2d-main</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>