[Unit]
Description=smee.io webhook delivery for my build
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=jenkins
ExecStart=/usr/bin/smee -u {smee.io webhooks proxy url} --path /github-webhook/ --port 8080

[Install]
WantedBy=multi-user.target
