{
    "Version": "2012-10-17",
    "Id": "PutObjPolicy",
    "Statement": [
        {
            "Sid": "DenyUnEncryptedObjectUploads",
            "Effect": "Deny",
            "Principal": "*",
            "Action": "s3:PutObject",
            "Resource": "arn:aws:s3:::{{ S3_TFSTATE_BUCKET }}/*",
            "Condition": {
                "StringNotEquals": {
                    "s3:x-amz-server-side-encryption": "aws:kms"
                }
            }
        },
        {
            "Sid": "ManagementRole",
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:GetObject",
            "Resource": "arn:aws:s3:::{{ S3_TFSTATE_BUCKET }}/*",
	    "Condition": {
                "ArnEquals": {
                    "aws:userid": "arn:aws:iam::{{ AWS_ACCOUNT_NUMBER }}:role/delegatedadmin/developer/Ab2dMgmtV2Role"
                }
            }
        },
        {
            "Sid": "FederatedLoginRole",
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:GetObject",
            "Resource": "arn:aws:s3:::{{ S3_TFSTATE_BUCKET }}/*",
	    "Condition": {
                "ArnEquals": {
                    "aws:userid": "arn:aws:iam::{{ AWS_ACCOUNT_NUMBER }}:role/ct-ado-ab2d-application-admin"
                }
            }
        }
    ]
}
