<div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/logo-horiz.svg" alt="logo"/></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> Menu <i class="fas fa-bars"></i> </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto" style="width: 100%;">
            <li class="nav-item {% if page.active-nav == 'home-nav' %}{{ 'active' }}{% endif %}"> <a class="nav-link" href="/">Home</a> </li>
            <li class="nav-item {% if page.active-nav == 'overview-nav' %}{{ 'active' }}{% endif %}"> <a class="nav-link" href="overview.html">Overview</a> </li>
            <li class="dropdown dropdown-large nav-item {% if page.active-nav == 'accessing-claims-data-nav' %}{{ 'active' }}{% endif %}">
                <a class="nav-link dropdown-toggle dropdown-medium" href="accessing-claims-data.html" data-toggle="dropdown" aria-expanded="false">
                    Accessing Claims Data
                    <i class="material-icons dropdown-caret">expand_more</i>
                </a>


                <div class="dropdown-menu">
                    <a class="dropdown-item" href="accessing-claims-data.html">Getting Started</a>
                    <a class="dropdown-item" href="tutorial-postman.html">Postman and Swagger User Guide</a>
                    <a class="dropdown-item" href="tutorial-curl.html">Curl User Guide</a>
                    <a class="dropdown-item" href="advanced-user-guide.html">Advanced User Guide</a>
                </div>
            </li>
            <li class="nav-item {% if page.active-nav == 'understanding-the-data-nav' %}{{ 'active' }}{% endif %}"> <a class="nav-link" href="understanding-the-data.html">Understanding the Data</a> </li>
            <li class="nav-item {% if page.active-nav == 'support-nav' %}{{ 'active' }}{% endif %}"> <a class="nav-link" href="support.html">Support &amp; FAQs</a> </li>
        </ul>
    </div>
</div>