<div class="container">
    <a class="navbar-brand" href="/"><img src="assets/img/logo-horiz.svg" alt="logo" /></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> Menu <i class="fas fa-bars"></i> </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item {% if page.active-nav == 'home-nav' %}{{ 'active' }}{% endif %}"> <a class="nav-link" href="/">Home</a> </li>
            <li class="nav-item {% if page.active-nav == 'overview-nav' %}{{ 'active' }}{% endif %}"> <a class="nav-link" href="overview.html">Overview</a> </li>
            <li class="nav-item {% if page.active-nav == 'accessing-claims-data-nav' %}{{ 'active' }}{% endif %}"><a class="nav-link" href="accessing-claims-data.html">Accessing Claims Data</a></li>
            <li class="nav-item {% if page.active-nav == 'understanding-the-data-nav' %}{{ 'active' }}{% endif %}"> <a class="nav-link" href="understanding-ab2d-data.html">Understanding AB2D Data</a> </li>
            <li class="nav-item {% if page.active-nav == 'support-nav' %}{{ 'active' }}{% endif %}"> <a class="nav-link" href="support.html">Support &amp; FAQs</a> </li>
        </ul>
    </div>
</div>