<!-- Footer -->
<footer class="footer bg-gray page-section pt-20">
    <svg class="shape-divider flip" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1034.2 43.8" style="enable-background:new 0 0 1034.2 43.8;" xml:space="preserve">
	<path fill="#fff" d="M0,21.3c0,0,209.3-48,517.1,0s517.1,0,517.1,0v22.5H0V21.3z"/>
  </svg>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4"> <span class="copyright">Copyright &copy; 2020, AB2D &nbsp; | &nbsp; All rights reserved</span> </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                    <li class="list-inline-item"> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                    <li class="list-inline-item"> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item"> <a href="#">Privacy Policy</a> </li>
                    <li class="list-inline-item"> <a href="#">Terms of Use</a> </li>
                </ul>
            </div>
        </div>
    </div>
</footer>