name: Libs pull request jobs
run-name: Libs-pull-request

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'events/**'
    branches:
      - main

permissions:
  contents: read
  id-token: write
defaults:
  run:
    working-directory: ./libs

jobs:
  build:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/libs-build.yml
    secrets: inherit

  sonarqube:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/libs-sonarqube.yml
    secrets: inherit
