name: Libs build
run-name: Build-libraries

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  id-token: write
defaults:
  run:
    working-directory: ./libs

jobs:
  build:
    runs-on: codebuild-ab2d-${{github.run_id}}-${{github.run_attempt}}
    env:
      AWS_ACCOUNT: ${{ secrets.NON_PROD_ACCOUNT }}
      AWS_REGION: ${{ vars.AWS_REGION }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Assume role in target account
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT }}:role/delegatedadmin/developer/ab2d-dev-github-actions

      - name: Set env vars from AWS params
        uses: cmsgov/cdap/actions/aws-params-env-action@main
        with:
          params: |
            ARTIFACTORY_URL=/cdap/nonsensitive/artifactory/url
            ARTIFACTORY_USER=/cdap/nonsensitive/artifactory/user
            ARTIFACTORY_PASSWORD=/cdap/sensitive/artifactory/password
            SONAR_HOST_URL=/cdap/nonsensitive/sonarqube/url
            SONAR_TOKEN=/cdap/sensitive/sonarqube/token

      - name: Build and test libraries
        run: ./gradlew clean test --info -b build.gradle

      - name: Build JARs
        run: ./gradlew jar --warn -b build.gradle
