# TODO add sandbox + prod S3 buckets below
name: opt-out-import deploy-gf
run-name: opt-out-import deploy-gf ${{ inputs.environment }}

on:
  push:
    branches:
      - move-lambdas
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      environment:
        description: AB2D environment
        required: true
        type: choice
        options:
          - dev
          - test
          - sandbox
          - prod
        default: test

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write
    runs-on: codebuild-ab2d-${{github.run_id}}-${{github.run_attempt}}
    env:
      AWS_ACCOUNT: ${{contains(fromJSON('["dev", "test"]'), inputs.environment) && secrets.NON_PROD_ACCOUNT || secrets.PROD_ACCOUNT}}
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
      AB2D_ENV: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: ./optout
    steps:
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT }}:role/delegatedadmin/developer/ab2d-${{ env.AB2D_ENV }}-github-actions

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set env vars from AWS params in BCDA management account
        uses: cmsgov/cdap/actions/aws-params-env-action@main
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
        with:
          params: |
            ARTIFACTORY_URL=/artifactory/url
            ARTIFACTORY_USER=/artifactory/user
            ARTIFACTORY_PASSWORD=/artifactory/password

      - name: Build opt-out-import zip file
        run: ../gradlew buildZip

      - name: Upload and reload
        env:
          #ToDo: add buckets for sbx and prod
          BUCKET: ${{ inputs.environment == 'dev' && 'ab2d-dev-opt-out-import-function-20250528140631782700000001' || inputs.environment == 'test' && 'ab2d-test-opt-out-import-function-20250529140353146500000001' }}
        run: |
          aws s3 cp --no-progress build/distributions/optout.zip s3://${{ env.BUCKET }}/function.zip
          aws lambda update-function-code --function-name ab2d-${{ env.AB2D_ENV }}-opt-out-import \
            --s3-bucket ${{ env.BUCKET }} --s3-key function.zip
