name: opt-out-import unit tests

on:
  pull_request:
    paths:
      - .github/workflows/opt-out-import-unit.yml
      - lambdas/optout/**
    inputs:
      environment:
        type: string
        default: "test"
        description: "Dev,test,sandbox, or prod"

  workflow_dispatch:
    inputs:
      environment:
        required: true
        default: "test"
        type: string
        description: "Dev,test,sandbox, or prod"

jobs:
  test:
    permissions:
      contents: read
      id-token: write
    runs-on: codebuild-ab2d-${{github.run_id}}-${{github.run_attempt}}
    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
      AB2D_ENV: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: ./lambdas/optout

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Assume role in AB2D account for this environment
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          aws-region: "us-east-1"
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT }}:role/delegatedadmin/developer/ab2d-test-github-actions

      - name: Set env vars from AWS params in BCDA management account
        uses: cmsgov/cdap/actions/aws-params-env-action@main
        env:
          AWS_REGION: "us-east-1"
        with:
          params: |
            ARTIFACTORY_URL=/artifactory/url
            ARTIFACTORY_USER=/artifactory/user
            ARTIFACTORY_PASSWORD=/artifactory/password
            SONAR_HOST_URL=/sonarqube/url
            SONAR_TOKEN=/sonarqube/token
      - name: Run unit tests for opt-out-import lambda
        run: ../gradlew test
