name: pull request jobs

on:
  pull_request:
    types: [ready_for_review]
    paths-ignore:
      - libs/**
      - lambdas/**
      - contracts/**
      - events/**
permissions:
  id-token: write
  contents: read
jobs:
  unit-integration-test:
    uses: ./.github/workflows/unit-integration-test.yml
    secrets: inherit
  build-deploy-api:
    uses: ./.github/workflows/build-deploy.yml
    with:
      environment: test
      module: api
    secrets: inherit
  build-deploy-worker:
    uses: ./.github/workflows/build-deploy.yml
    with:
      environment: test
      module: worker
    secrets: inherit
  e2e-test:
    needs: [build-deploy-api, build-deploy-worker]
    uses: ./.github/workflows/e2e-test.yml
    with:
      environment: test
    secrets: inherit
