name: SonarQube

on:
  workflow_call:
  workflow_dispatch: # Allow manual trigger

permissions:
  contents: read
  id-token: write

env:
  SONAR_PROJECT_KEY: ab2d-project
  AWS_REGION: "us-east-1"
jobs:
  workflow:
    name: Checking workflow
    runs-on: ubuntu-24.04
    outputs:
      files: ${{ steps.workflow_files.outputs.files }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - id: workflow_files
        name: Set output
        run: |-
          git diff --name-only --diff-filter=ACMRTD HEAD^ HEAD |\
            grep -P "${workflow_files_re}" \
          && echo "files=true" >> $GITHUB_OUTPUT || echo "files=" >> $GITHUB_OUTPUT
  test:
    permissions:
      contents: read
      id-token: write
    runs-on: codebuild-ab2d-${{github.run_id}}-${{github.run_attempt}}
    needs: workflow
    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
      AWS_REGION: "us-east-1"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: temurin
          cache: maven

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.NON_PROD_ACCOUNT }}:role/delegatedadmin/developer/ab2d-test-github-actions

      - name: Set env vars from AWS params
        uses: cmsgov/cdap/actions/aws-params-env-action@main
        env:
          AWS_REGION: ${{ env.AWS_REGION }}
        with:
          params: |
            ARTIFACTORY_URL=/cdap/nonsensitive/artifactory/url
            ARTIFACTORY_URL=/cdap/nonsensitive/artifactory/user
            ARTIFACTORY_PASSWORD=/cdap/sensitive/artifactory/password
            SONAR_HOST_URL=/cdap/nonsensitive/sonarqube/url
            SONAR_TOKEN=/cdap/sensitive/sonarqube/token

      - name: Assume role in AB2D dev account
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ vars.AB2D_DEV_ROLE }}

      - name: SonarQube analysis (with coverage)
        run: |
            mvn -ntp -s settings.xml ${RUNNER_DEBUG:+"--debug"} -Dusername=${ARTIFACTORY_USER} -Dpassword=${ARTIFACTORY_PASSWORD} -Drepository_url=${ARTIFACTORY_URL} clean install -pl "!e2e-bfd-test,!e2e-test"  \
            ${RUNNER_DEBUG:+"--debug"} \
            sonar:sonar \
            -Dsonar.projectKey=$SONAR_PROJECT_KEY \
            -Dsonar.qualitygate.wait=true \
            -Dusername="${ARTIFACTORY_USER}" \
            -Dpassword="${ARTIFACTORY_PASSWORD}" \
            -Drepository_url="${ARTIFACTORY_URL}" \
            -Dsonar.ci.autoconfig.disabled=true \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
            -Dsonar.java.binaries=target/classes
  
